<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435456936537-htnoc7vhpgvp21j3hmj5882metnr72s5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435456936537-htnoc7vhpgvp21j3hmj5882metnr72s5</string>
	<key>API_KEY</key>
	<string>AIzaSyCjkUI7pKy8DfqcguCqMjyq6CIb781tl9U</string>
	<key>GCM_SENDER_ID</key>
	<string>435456936537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>np.com.darkhead.mynotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mynotes-flutter-darkhead</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-flutter-darkhead.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435456936537:ios:206f933bccb4c255c8ff48</string>
</dict>
</plist>